@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("../public/fonts/pricedown.otf") format("opentype");
    font-display: swap;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "pricedown";
}

.font1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}